<ion-view>

    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title">{{ titre }}</h1>
    </ion-header-bar>

    <ion-header-bar class="bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Recherche par nom" ng-change="search()" ng-model="MMI.Nom"
                autocomplete="off">
        </label>
    </ion-header-bar>

    <ion-content>

        <!--
        <div class="ion-autocomplete-conteneur">

            <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off"
                ng-model="myData" item-value-key="name" item-view-value-key="view" items-method="getTestItems(query)"
                items-method-value-key="items" placeholder="Recherche ..." items-clicked-method="itemsClicked(callback)"
                items-removed-method="itemsRemoved(callback)" max-selected-items="3"
                select-items-label=" Sélectionnez vos vidéos ... "
                selected-items-label="Vidéos Sélectionnées (max : 3) : " />

        </div>
        -->

        <ion-scroll class="list" direction="y" overflow-scroll="true" class="padding">

            <div class="list">

                <div ng-repeat="MMI in myData | filter:MMI track by $index" class="item item-thumbnail-left item-icon-right"
                    style="text-align: center;">

                    <img src='{{ MMI.Photo }}' class="imgResponsive" />
                    {{ MMI.Numero }}
                    <br />
                    {{ MMI.Prenom }}
                    <br />
                    {{ MMI.Nom }}
                    <br />
                    #{{ MMI.rang }}
                    <!--
                    <a href="#">
                        <i class="icon ion-ios-arrow-forward"></i>
                    </a>
                    -->

                    <br />
                    <br />

                    <div class="row colonneTable">
                        <div class="col topTable">MODULE</div>
                        <div class="col topTable">MOYENNE</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Ecriture média numérique</div>
                        <div class="col moyenne">{{ MMI.MMM3105___Ecrit_medias_num }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Mercatique</div>
                        <div class="col moyenne">{{ MMI.MMM3109___Env_jur__eco_mercatique }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Anglais</div>
                        <div class="col moyenne">{{ MMI.MMM3101___Anglais }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Approfondissement métiers</div>
                        <div class="col moyenne">{{ MMI.MMMUE31___UE31_Approf_metiers }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Communication</div>
                        <div class="col moyenne">{{ MMI.MMM3106___Comm_exp_ecrite_orale }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">LV2</div>
                        <div class="col moyenne">{{ MMI.MMM3102___LV2 }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Expression artistique</div>
                        <div class="col moyenne">{{ MMI.MMM3104___Esth_et_expression_artist }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Théorie info / com</div>
                        <div class="col moyenne">{{ MMI.MMM3103___Theories_info_comm }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Gestion de projet</div>
                        <div class="col moyenne">{{ MMI.MMM3107___Gest_proj }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Développement web</div>
                        <div class="col moyenne">{{ MMI.MMM3202___Dev_web }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Infographie</div>
                        <div class="col moyenne">{{ MMI.MMM3205___Infographie }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Renforcement compétences</div>
                        <div class="col moyenne">{{ MMI.MMMUE32___UE32_Renf_comp_trans_scie }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Programmation objet</div>
                        <div class="col moyenne">{{ MMI.MMM3203___Prog_objt_evenen_ }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Service sur réseaux</div>
                        <div class="col moyenne">{{ MMI.MMM3204___Serv_sur_reseaux }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Projet tutoré</div>
                        <div class="col moyenne">{{ MMI.MMM3208___Projet_tut }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">MEL</div>
                        <div class="col moyenne">{{ MMI.MMMELS3___MEL_Semestre_3 }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">PPP</div>
                        <div class="col moyenne">{{ MMI.MMM3108___PPP }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Intégration multimedia</div>
                        <div class="col moyenne">{{ MMI.MMM3206___Integ_multimedia }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Culture scientifique</div>
                        <div class="col moyenne">{{ MMI.MMM3201___Cult_scient_trait_info }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Audiovisuelle</div>
                        <div class="col moyenne">{{ MMI.MMM3207___Prod_audiov }}</div>
                    </div>
                    <div class="row colonneTable">
                        <div class="col module">Projet tutoré</div>
                        <div class="col moyenne">{{ MMI.MMM3110___Proj_Tut }}</div>
                    </div>

                </div>
            </div>
        </ion-scroll>

    </ion-content>

    <ion-footer-bar align-title="center" class="bar-balanced menuNav">
        <a class="button icon ion-home" ui-sref="home"></a>
    </ion-footer-bar>

</ion-view>